.modal-overlay {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
}

.modal-content {
  width: 80%;
  margin: 10vh auto;
  position: relative;
  background-color: white;
  outline: none;
}
